
/* General */

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.blue{
    background: #38a4dd;
}

.white{
    background: #fff;
}

.grey{
    background: #e3e3e3;
}

/* Picture */

.picture{
    position: relative;
}

.picture div{
    position: absolute;
    bottom: 20px;
    right: 20%;
    color: #fff;
}

/*skills */

.skills .crte{
    height: 2px;
    width: 100%;
    background: grey;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.skills .crte .bela-crta{
    height: 2px;
    width: 80%;
    background: white;
    position: absolute;
}

.skills .crte .bela-crta .tacka{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: -5px;
    top: -5px;
}


/* ne sredjeno */

/* section 7 */

.section-7{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.section-7 figure{
    margin: 0;
}

.section-7 .red-title{
    background: #f15c5b;
    padding: 2.5rem;
}

.section-7 div:last-of-type{
  padding: 2.5rem;
  background: white;
}

/* section 8 */

.section-8 article{
    background: white;
    margin-bottom: 1rem;
}

.section-8 .art-comment{
    padding: 2rem;
}


/* ne sredjeno  strana portfolio*/

/* section 9 */

.section-9{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.section-9 figure{
    margin: 0;
}

.section-9 #problem{
    height: 260px;    
}

.section-9 .title{
    padding: 1rem 2rem;
}

/* section 9 boje */

.red-title-2{
    background: #f15c5b;
} 

.grey-title{
    background: #6a7484;
}

.black-title{
   background: #555157; 
}

.blue-title{
    background: #1cbec8;
}

.yellow-title{
    background: #f4be18;
}

/* section 9 boje  kraj*/

.section-9 .tekst-2{
    padding: 1rem;
    background: white;    
}

.section-9 article{
    margin-bottom: 2rem;   /*promeniti */
}