
/* General */

.inactive{
    overflow: hidden;
}

img{
    max-width: 100%;
    /*    max-height: 100%;*/
    display: block;
}

.blue{
    background: #bdcdc4;   
    background: #06397d;
}

.white{
    background: #c3d7d9;
    background: #cedaf5;
    background: #c3cad9;
    background: #dde0e7;
    background: #d0d7e5;
    background: #dde0e7;
}

.grey{
    background:  #eff1f4; 
    background:  #e4e9f4; 
}

.box-shadow{
    box-shadow: 1px 1px 4.75px 0.25px rgba(24, 24, 24, 0.25);
}

.fa{
    font-size: 30px;
}

.granica-1{
    margin-right: -20px;
}

.marg-r--20{
    margin-right: -20px;
}

.blue-text{
    color: #38a4dd;
}

.opacity-w-80{
    color: rgba(255,255,255,0.8);
}

section hr{
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: -2rem;
}

.marg-b-2rem{
   margin-bottom: 2rem; 
}

.padding-y-2rem{
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* Picture */

.picture{
    position: relative;
}

.picture div{
    position: absolute;
    bottom: 20px;
    right: 20%;
    color: #fff;
}

/*icons start */

.icon-position{
    width: 40px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.icon-position-2{
    width: 30px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.icon-position-3{
    width: 60px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.icon-margin{
    margin-left: auto;
}

.width-80{
    width: 80px;
}

.width-64{
    width: 64px;
}

.width-42{
    width: 42px;
}

/* general ends */

/* aside starts */

aside{
    padding-right: 20px !important;
    padding-bottom: 6rem;
    height: 100%;
    position: relative;
    color: #fff;
}

aside p{
    margin-bottom: 0.5rem;
}

aside hr{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

aside figure{
  margin-bottom: 2rem;  
}


/*skills */

.skills .blue-bar{
    height: 2px;
    width: 100%;
    background: #758576;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.skills .blue-bar .white-bar{
    height: 2px;
    width: 0%;
    background: white;
    position: absolute;
    transition: width 3s;
}

.skills .blue-bar .white-bar .white-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: -5px;
    top: -4px;
}

/* aside ends */

/* ne sredjeno */

/* section 1 */

.section-1{
    margin-top: 1rem;
}


/* section 7 */

.section-7{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.section-7 figure{
    margin: 0;
}

.section-7 .red-title{
    padding: 2.5rem;
}

.section-7 div:last-of-type{
    padding: 2.5rem;
    background: #dde0e7;
}

/* section 8   Comments  */

.section-8 > article{
    background: rgba(221, 224, 231, 0.7);
    margin-bottom: 1rem;
    padding: 1rem;
}

.section-8 .art-comment{
    padding: 2rem;
}

.reply{
    margin-left: 40px;
}


/* ne sredjeno  strana portfolio*/

/* section 9 */

.section-9{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.section-9 figure{
    margin: 0;
}

/*.section-9 #problem{
    height: 260px;    
}*/

.section-9 .title{
    padding: 1rem 2rem;
}

/* section 9 boje */

/*.red-title-2{
    background: #f15c5b;
} 

.grey-title{
    background-color: #6a7484;
}

.black-title{
    background: #555157; 
}

.blue-title{
    background: #1cbec8;
}

.yellow-title{
    background: #f4be18;
}*/

/* section 9 boje  kraj*/

.section-9 .tekst-2{
    padding: 1rem;
    background: #c3d7d9;   
    background: #cedaf5;
    background: #c3cad9;
    background: #dde0e7;
    background: #d0d7e5;
    background: #c3cad9;
    background: #dde0e7;
}

.section-9 article{
    margin-bottom: 2rem;   /*promeniti */
}

/*.section-9 figure{
    background-size: cover;
    background-position: center center;
    height: 100%;
    min-height: 300px;
}*/


/*card !!ne treba   */

/*.card-columns{
    column-count: 1;    
}

.card{
    margin-bottom: 2rem !important;
}*/

/* section 5 */

.section-5{
    margin-top: 1rem;
}

/* navigacija i dugme*/

.toggle-menu{
    padding: 5px;
    border: 1px solid #000;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 4px;
    z-index: 10;
}

.toggle-menu span{
    display: block;
    height: 2px;
    background: #000;
    margin-bottom: 3px;
    width: 20px;
}

.toggle-menu span:last-of-type{
    margin-bottom: 0;
}

.menu-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 15;
    top: 0;
    left: 0;
    display: none;
}

.menu{
    position: fixed;
    left: -120%;
    top: 0;
    z-index: 20;
    transition: 1s ease;
     
}

.menu .side-menu{
    height: 100vh;
    background: #777;
    padding: 10px;
    min-width: 200px;
}

.menu .side-menu a{
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.fa-close{
    position: absolute;
    right: -30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 20;
    top: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
}


/* navigacija end */

.masonery{
    position: relative;
}


/* mpae ne treba */

#map_wrapper {
    height: 400px;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 100%;
}


/* hand */

.hand{
   cursor: pointer; 
}


/* project page */

.project-page figure {
overflow:hidden;
}

.project-page a img{
transition:1s linear;
}

.project-page a:hover img{
transform:scale(1.2);
}

.project-page a{
    display: block;
    position: relative;
    color: white;
}

.project-page .hover{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20%;
    display: none;
}

.project-page a:hover .hover{
   display: block; 
}

.section-11 textarea{
    resize: none;
}